## Code Sets Exercise 1: Diagnose Code Grouping

### Datasets from 2018 CA inpatient dataset - https://data.chhs.ca.gov/dataset/hospital-inpatient-diagnosis-procedure-and-external-cause-codes/
- Attribution to CA https://data.chhs.ca.gov/pages/terms

### Instructions
- Please use the following dataset from the state of California that provides the total inpatient diagnosis counts using the ICD10 - CM code set. 
- Give the codes that have 'SEPSIS" in the description (HINT: could use the str.contains function)
- What percentage of primary diagnosis codes could be grouped at the category level with A41? 
- If you were to create a metacategory for sepsis, what percentage of secondary diagnosis codes would be grouped with using just the first character?

In [2]:
import pandas as pd
import numpy as np

In [3]:
ca_icd_dx_path = "./ICD-10-CM-Table 1.csv"
#last row is malformed
dx_df = pd.read_csv(ca_icd_dx_path).fillna(0)[:-1]

In [4]:
dx_df.head()

,ICD10CMCODE,DiagnosisDesc,TotalDiag,PrimaryDiag,SecondDiag
0,A00.0,"CHOLERA DUE TO VIBRIO CHOLERAE 01, BIOVAR CHOL...",5,1,4
1,A00.9,"CHOLERA, UNSPECIFIED",4,1,3
2,A01.00,"TYPHOID FEVER, UNSPECIFIED",56,27,29
3,A01.01,TYPHOID MENINGITIS,1,0,1
4,A01.02,TYPHOID FEVER WITH HEART INVOLVEMENT,1,0,1