To prepare you to do the exercises, I wanted to just review a few methods that might help you. There are other ways to do this but wanted to share this info.

## Creating Synthetic Data Example

In [40]:
import pandas as pd
import numpy as np

In [41]:
code_list = ["02C24ZZ", "02C33Z6", "D2C33ZZ", "Z2C34Z6", "D2C34ZZ", "4A020N6"]

In [42]:
description_list = ["Percutaneous transluminal angioplasty", "Percutaneous transluminal coronary angioplasty",
"Percutaneous transluminal angioplasty", "Percutaneous transluminal angioplasty", "Percutaneous transluminal angioplasty",
"Diagnostic cardiac catheterization; coronary" ]

In [43]:
sample_df = pd.DataFrame({"sample_code": code_list, "code_description": description_list})

In [44]:
sample_df

  sample_code                                code_description
0     02C24ZZ           Percutaneous transluminal angioplasty
1     02C33Z6  Percutaneous transluminal coronary angioplasty
2     D2C33ZZ           Percutaneous transluminal angioplasty
3     Z2C34Z6           Percutaneous transluminal angioplasty
4     D2C34ZZ           Percutaneous transluminal angioplasty
5     4A020N6    Diagnostic cardiac catheterization; coronary

## 1. Searching for Codes with Text Pattern
Searching for text with string methods like contains().

In [45]:
matched_string_df = sample_df[sample_df['code_description'].str.contains('angioplasty')]
matched_string_df

  sample_code                                code_description
0     02C24ZZ           Percutaneous transluminal angioplasty
1     02C33Z6  Percutaneous transluminal coronary angioplasty
2     D2C33ZZ           Percutaneous transluminal angioplasty
3     Z2C34Z6           Percutaneous transluminal angioplasty
4     D2C34ZZ           Percutaneous transluminal angioplasty

**Answer**: 5 out of the 6 rows match and have 'angioplasty' in the description

In [46]:
# Here is the row that didn't have the string in the description
unmatched_string_df = sample_df[~sample_df['code_description'].str.contains('angioplasty')]
unmatched_string_df

  sample_code                              code_description
5     4A020N6  Diagnostic cardiac catheterization; coronary

## 2. Grouping by Character
-  Use startswith function to get the codes that start with the first X number of characters.

In [49]:
first_char_group_df = sample_df[sample_df['sample_code'].str.startswith('4')]
first_char_group_df

  sample_code                              code_description
5     4A020N6  Diagnostic cardiac catheterization; coronary

In [48]:
two_char_group_df = sample_df[sample_df['sample_code'].str.startswith('D2')]
two_char_group_df

  sample_code                       code_description
2     D2C33ZZ  Percutaneous transluminal angioplasty
4     D2C34ZZ  Percutaneous transluminal angioplasty